In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("HeartAttack.csv")

In [4]:
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
            #CASE 1

In [6]:
#seperation on basis of entropy 0.5
for value in range(100):
    qry= 'age >' + str(value)
    df_value = df.query(qry)
    if(len(df_value)/len(df)) <0.5:
        break
print('age',value)

age 55

In [7]:
df_M = df.query("sex==1")
len(df_M)

207

In [8]:
df_F = df.query("sex==0")
len(df_F)

96

In [9]:
df_M_AG50  = df.query("sex==1 &age>50")
len(df_M_AG50)

139

In [10]:
df_M_AL50  = df.query("sex==1 &age<=50")
len(df_M_AL50)

68

In [11]:
df_F_AG50  = df.query("sex==0 &age>50")
len(df_F_AG50)

69

In [12]:
df_F_AL50  = df.query("sex==0 &age<=50")
len(df_F_AL50)

27

In [13]:
df_M_AG50_CG250 =df.query("sex==1 & age>50 & chol>250")
len(df_M_AG50_CG250)

57

In [14]:
df_M_AG50_CL250 =df.query("sex==1 & age>50 & chol<=250")
len(df_M_AG50_CL250)

82

In [15]:
df_M_AL50_CG250 =df.query("sex==1 & age<=50 & chol>250")
len(df_M_AL50_CG250)

20

In [16]:
df_M_AL50_CL250 =df.query("sex==1 & age<=50 & chol<=250")
len(df_M_AL50_CL250)

48

In [17]:
df_F_AG50_CG250 =df.query("sex==0 & age>50 & chol>250")
len(df_F_AG50_CG250)

41

In [18]:
df_F_AG50_CL250 =df.query("sex==0 & age>50 & chol<=250")
len(df_F_AG50_CL250)

28

In [19]:
df_F_AL50_CG250 =df.query("sex==0 & age<=50 & chol>250")
len(df_F_AL50_CG250)

8

In [20]:
df_F_AL50_CL250 =df.query("sex==0 & age<=50 & chol<=250")
len(df_F_AL50_CL250)

19

In [21]:
#heartattack poss
df_M_AG50_CG250_HA =df.query("sex==1 & age>50 & chol>250 &output==1")
len(df_M_AG50_CG250_HA)

12

In [22]:
df_M_AG50_CL250_HA =df.query("sex==1 & age>50 & chol<=250 &output==1")
len(df_M_AG50_CL250_HA)

41

In [23]:
df_M_AL50_CG250_HA =df.query("sex==1 & age<=50 & chol>250 &output==1")
len(df_M_AL50_CG250_HA)

11

In [24]:
df_M_AL50_CL250_HA =df.query("sex==1 & age<=50 & chol<=250 &output==1")
len(df_M_AL50_CL250_HA)

29

In [25]:
df_F_AG50_CG250_HA =df.query("sex==0 & age>50 & chol>250 &output==1")
len(df_F_AG50_CG250_HA)

28

In [26]:
df_F_AG50_CL250_HA =df.query("sex==0 & age>50 & chol<=250 &output==1")
len(df_F_AG50_CL250_HA)

18

In [27]:
df_F_AL50_CG250_HA =df.query("sex==0 & age<=50 & chol>250 &output==1")
len(df_F_AL50_CG250_HA)

7

In [28]:
df_F_AL50_CL250_HA =df.query("sex==0 & age<=50 & chol<=250 &output==1")
len(df_F_AL50_CL250_HA)

19

In [29]:
        #CASE 2

In [30]:
df_M = df.query("sex==1")
len(df_M)

207

In [31]:
df_F = df.query("sex==0")
len(df_F)

96

In [32]:
for value in range(100):
    qry = 'age >' +str(value)
    df_value = df_M.query(qry)
    if(len(df_value)/len(df_M) < 0.5 ):
        break
print(value)

54

In [33]:
df_M_AG54 = df_M.query("age>54")
len(df_M_AG54)

103

In [34]:
df_M_AL54=df_M.query("age<=54")
len(df_M_AL54)

104

In [35]:
df_M_AG54_HA = df_M.query("sex==1 &age>54 &output==1")
len(df_M_AG54_HA)

31

In [36]:
df_M_AG54_CG250 =df_M.query("age>54 & chol>250")
len(df_M_AG54_CG250)

44

In [37]:
df_M_AG54_CL250 =df_M.query("age>54 & chol<=250")
len(df_M_AG54_CL250)

59

In [38]:
df_M_AL54_CG250 =df_M.query("age<=54 & chol>250")
len(df_M_AL54_CG250)

33

In [39]:
df_M_AL54_CL250 =df_M.query("age<=54 & chol<=250")
len(df_M_AL54_CL250)

71

In [40]:
df_M_AG54_CG250_HA =df_M.query("age>54 & chol>250 &output==1")
len(df_M_AG54_CG250_HA)

6

In [41]:
df_M_AG54_CL250_HA =df_M.query("age>54 & chol<=250 &output==1")
len(df_M_AG54_CL250_HA)

25

In [42]:
df_M_AL54_CG250_HA =df_M.query("age<=54 & chol>250 &output==1")
len(df_M_AL54_CG250_HA)

17

In [43]:
df_M_AL54_CL250_HA =df_M.query("age<=54 & chol<=250 &output==1")
len(df_M_AL54_CL250_HA)

45

In [44]:
for value in range(100):
    qry = 'age >' +str(value)
    df_value = df_F.query(qry)
    if(len(df_value)/len(df_F) < 0.5 ):
        break
print(value)

57

In [45]:
df_F_AG56 = df_F.query("age>56")
len(df_F_AG56)

49

In [46]:
df_F_AL56 = df_F.query("age<=56")
len(df_F_AL56)

47

In [47]:
df_F_AG56_CG250 = df_F_AG56.query("age>56 & chol>250")
len(df_F_AG56_CG250)

28

In [48]:
df_F_AG56_CL250 = df_F_AG56.query("age>56 & chol<=250")
len(df_F_AG56_CL250)

21

In [49]:
df_F_AL56_CG250 = df_F_AL56.query("age<=56 & chol>250")
len(df_F_AL56_CG250)

21

In [50]:
df_F_AL56_CL250 = df_F_AL56.query("age<=56 & chol<=250")
len(df_F_AL56_CL250)

26

In [51]:
df_F_AG56_CG250_HA = df_F_AG56.query("age>56 & chol>250 &output==1 ")
len(df_F_AG56_CG250_HA)
len(df_F_AG56_CG250_HA)/len(df_F_AG56_CG250)

0.6785714285714286

In [52]:
df_F_AG56_CL250_HA = df_F_AG56.query("age>56 & chol<=250 &output==1")
len(df_F_AG56_CL250_HA)/len(df_F_AG56_CL250)

0.5714285714285714

In [53]:
df_F_AL56_CG250_HA = df_F_AL56.query("age<=56 & chol>250 &output==1 ")
len(df_F_AL56_CG250_HA)
len(df_F_AL56_CG250_HA)/len(df_F_AL56_CG250)

0.7619047619047619

In [54]:
df_F_AL56_CL250_HA = df_F_AL56.query("age<=56 & chol<=250 &output==1 ")
len(df_F_AL56_CL250_HA)/len(df_F_AL56_CL250)

0.9615384615384616

In [55]:
len(df_F_AL56_CL250_HA)

25

In [56]:
        #CASE 3

In [57]:
#chol of male age >54
for value in range(1000):
    qry = ' chol >' + str(value)
    df_value = df_M_AG54.query(qry)
    if(len(df_value)/len(df_M_AG54) < 0.5 ):
        break
print(value)

240

In [58]:
#chol of male age <54
for value in range(400):
    qry = ' chol >' + str(value)
    df_value = df_M_AL54.query(qry)
    if(len(df_value)/len(df_M_AL54) < 0.5 ):
        break
print(value)

233

In [59]:
df_M_AG54_CG240 =df_M_AG54.query("age>54 & chol>240 ")
len(df_M_AG54_CG240)

50

In [60]:
df_M_AG54_CG240_HA =df_M_AG54.query("age>54 & chol>240 &output==1")
len(df_M_AG54_CG240_HA)

8

In [61]:
df_M_AG54_CL240 =df_M_AG54.query("age>54 & chol<=240 ")
len(df_M_AG54_CL240)

53

In [62]:
df_M_AG54_CL240_HA =df_M_AG54.query("age>54 & chol<=240 &output==1")
len(df_M_AG54_CL240_HA)

23

In [63]:
#prob of HA for age>54 chol<240
len(df_M_AG54_CL240_HA)/len(df_M_AG54_CL240)

0.4339622641509434

In [64]:
#prob of HA for age>54 chol>240
len(df_M_AG54_CG240_HA)/len(df_M_AG54_CG240)

0.16

In [65]:
df_M_AL54_CG233 =df_M_AL54.query("age<=54 & chol>233 ")
len(df_M_AL54_CG233)

49

In [66]:
df_M_AL54_CL233 =df_M_AL54.query("age<=54 & chol<=233 ")
len(df_M_AL54_CL233)

55

In [67]:
#prob of HA for age<54 chol>233
df_M_AL54_CG233_HA =df_M_AL54.query("age<=54 & chol>233 &output==1")
len(df_M_AL54_CG233_HA)
len(df_M_AL54_CG233_HA)/len(df_M_AL54_CG233)

0.5714285714285714

In [68]:
#prob of HA for age<54 chol <233
df_M_AL54_CL233_HA =df_M_AL54.query("age<=54 & chol<=233 &output==1")
len(df_M_AL54_CL233_HA)
len(df_M_AL54_CL233_HA)/len(df_M_AL54_CL233)

0.6181818181818182

In [69]:
len(df_M_AL54_CG233_HA)

28

In [70]:
len(df_M_AL54_CL233_HA)

34

In [71]:
#FEMALE

In [89]:
#chol of female age >56
for value in range(1000):
    qry = ' chol >' + str(value)
    df_value = df_F_AG56.query(qry)
    if(len(df_value)/len(df_F_AG56) < 0.5 ):
        break
print(value)

265

In [90]:
#chol of female age <=56
for value in range(1000):
    qry = ' chol >' + str(value)
    df_value = df_F_AL56.query(qry)
    if(len(df_value)/len(df_F_AL56) < 0.5 ):
        break
print(value)

243

In [74]:
len(df_F_AG56)

49

In [75]:
len(df_F_AL56)

47

In [76]:
df_F_AG56_CG265 =df_F_AG56.query("age>56 & chol>265 ")
len(df_F_AG56_CG265)

24

In [77]:
df_F_AG56_CL265 =df_F_AG56.query("age>56 & chol<=265 ")
len(df_F_AG56_CL265)

25

In [78]:
df_F_AL56_CG243 =df_F_AL56.query("age<=56 & chol>243 ")
len(df_F_AL56_CG243)

23

In [79]:
df_F_AL56_CL243 =df_F_AL56.query("age<=56 & chol<=243 ")
len(df_F_AL56_CL243)

24

In [80]:
#poss of female for heart attack for age > and <= 56

In [81]:
df_F_AG56_CG265_HA =df_F_AG56.query("age>56 & chol>265 &output==1")
len(df_F_AG56_CG265_HA)

17

In [82]:
len(df_F_AG56_CG265_HA)/len(df_F_AG56_CG265)

0.7083333333333334

In [83]:
df_F_AG56_CL265_HA =df_F_AG56.query("age>56 & chol<=265 &output==1")
len(df_F_AG56_CL265_HA)

14

In [84]:
len(df_F_AG56_CL265_HA)/len(df_F_AG56_CL265)

0.56

In [85]:
df_F_AL56_CG243_HA =df_F_AL56.query("age<=56 & chol>243 &output==1")
len(df_F_AL56_CG243_HA)

18

In [86]:
len(df_F_AL56_CG243_HA)/len(df_F_AL56_CG243)

0.782608695652174

In [87]:
df_F_AL56_CL243_HA =df_F_AL56.query("age<=56 & chol<=243 &output==1")
len(df_F_AL56_CL243_HA)

23

In [88]:
len(df_F_AL56_CL243_HA)/len(df_F_AL56_CL243)

0.9583333333333334